* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#output {
background-color: orange;
display: block;
max-width: 50px;
}

#converted-unit {
  background-color: orange;
  display: block;
  max-width: 100px;
  }